In [1]:
import pandas as pd

1) Remove everything before the first "|" character --> to get the first 1500 reviews
2) Sentiment analysis as a score column
3) find random rows to sample and check

In [3]:
reviews_df = pd.read_csv("data/BA_reviews.csv")

In [4]:
reviews_df.head()

   Unnamed: 0                                            reviews
0           0  ✅ Trip Verified |  For the price paid (bought ...
1           1  ✅ Trip Verified |  Flight left on time and arr...
2           2  ✅ Trip Verified |  Very Poor Business class pr...
3           3  Not Verified | This review is for LHR-SYD-LHR....
4           4  ✅ Trip Verified | Absolutely pathetic business...

In [5]:
reviews_df.shape
reviews_df = df.dropna(subset = )

SyntaxError: invalid syntax (2711583924.py, line 2)

In [46]:
#csv file created on Dec 29 2023
reviews_df.iloc[2,1]

'✅ Trip Verified |  Very Poor Business class product, BA is not even close to the other airline leaders. Which ever way they sell the seat on a 777 it is a 2-4-2 layout. The cabin feels and is very cramped. The food in business class is economy quality just served in a china dish! However, the price of course is at premier levels. The only positive of the whole fight and return were the cabin crew who were fantastic. I felt genuinely sorry for them having to try and flog such a poor product. Would I fly BA business again? only if their were no other options and I had no choice.'

In [53]:
#Let's only include verified reviews
verified_df = reviews_df[reviews_df.iloc[:,1].str.contains("Trip Verified")]

In [54]:
verified_df.head()

   Unnamed: 0                                            reviews
0           0  ✅ Trip Verified |  For the price paid (bought ...
1           1  ✅ Trip Verified |  Flight left on time and arr...
2           2  ✅ Trip Verified |  Very Poor Business class pr...
4           4  ✅ Trip Verified | Absolutely pathetic business...
6           6  ✅ Trip Verified | This was our first flight wi...

In [12]:
reviews_df.head

'  For the price paid (bought during a sale) it was a decent experience although the club class (business class) seats offer no more legroom than economy class (using short-haul fleet on a 4 hour flight). Fast track through security was not honoured. The lounge at Istanbul airport was over-crowded as it is also open to the public who can pay for usage, causing a long queue for entry , which was badly organised. Boarding was smooth, cabin crew were friendly but their service was hit-and-miss. Eg. Some people got a “welcome” and some didn’t; Half of the cabin was automatically offered coffee after dinner but not the other half. However, drinks were replenished generously and regularly and the meal was good (with a choice of three mains from the menu).'